
.card-img{
    width: 250px ;
    height: 250px ;
}

@media only screen and (max-width: 600px) {
    .card-img{
        width: 200px ;
        height: 200px ;
    }

    .card-body {
        font-size: 75%;
    }
 
  }

